.Navigation{
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
    // background: linear-gradient(110.92deg, #e1f4f5 19.25%, #d3ebec 53%);
    background-color: white; 
    p{
        padding: 2rem;
        padding-top: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #64626A;
        line-height: 21px;
        border-bottom: 2px solid none;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        span{
            background-color: #1D5E6D;
            width: 2rem;
            height: 2px;
            margin-top: .5rem;
            opacity: 0;
        }
    }
    p:hover{
        font-weight: 600;
        border-bottom-color:#1D5E6D;
        span{
            opacity: 1;
            transition: .2s ease-in-out;
        }
    }    
    
    button{
        width: 92px;
        height: 38px;
        background-color: #348193;
        color: white;
        font-weight: 600;
        border: none;
        border-radius: 19px;
        margin-right: auto;
        cursor: pointer;
    }
    button:hover{
        color: #348193;
        border: 1px solid #348193;
        background-color: #fff;
        transition: .2s;
    }
    .Buy{
        margin-left: auto;
    }
    .Advertise{
        margin-left: auto;
    }
    .Logo{
        display: flex;
        align-items: center;
        font-size: 28.09px;
        color: #00D095;
        font-weight: 700;
        margin-left: 1rem;
    }
}
@media (max-width: 1420px){
    .Navigation{
    display: none;

    }
    p{
        color: red;
    }
}
