.search{
    background-color: #fff;
    width: 515px;
    height: 68px;
    margin-top: 4rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px 5px (rgba(24, 94, 109, .09));
    #searchbar{
        width: 355px;
        height: 68px;
        outline: none;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        padding-left: .8rem;
        margin-left: auto;
    }
    button{
        width: 130px;
        height: 48px;
        border: none;
        border-radius: 25px;
        background-color: #00D095;
        margin-right: 1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: white;
    }
    button:hover{
        background-color: #fff;
        color: #00D095;
        border: 1px solid #00D095;
        transition: .1s ease-in-out;
    }
    
}
@media (max-width: 1420px){
    .search{
        margin: 4rem auto 0 auto;
    }
}
@media (max-width: 700px){
    .search{
        width: 415px;
        button{
            width: 90px;
            height: 38px;
        } 
        #searchbar{
            width: 255px;
            height: 68px;
            font-size: 14px;
            padding-left: .8rem;
        }       
    }
}
