@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.Homepage {
  max-width: 1600px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(110.92deg, #e1f4f5 19.25%, #d3ebec 53%);
  border-radius: 0 0 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Homepage .headText {
  margin: 15rem 0 0 0;
  text-align: center;
}

.Homepage .headText h3 {
  font-weight: 400;
  color: #1d5e6d;
  font-size: 62px;
}

.Homepage .headText span {
  font-weight: 700;
}

.Homepage .headText p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #64626A;
  margin-top: 2rem;
}

.Homepage .House {
  position: relative;
  margin: auto 7rem 0 auto;
  opacity: 0.9;
  width: 593px;
  height: 622px;
}

@media (max-width: 1420px) {
  .Homepage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .Homepage .headText {
    margin: 3rem 0 0 0;
  }
  .Homepage .House {
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 700px) {
  .Homepage .headText h3 {
    font-size: 50px;
  }
  .Homepage .headText p {
    font-size: 18px;
  }
  .Homepage .House {
    width: 50%;
    height: 50%;
  }
}

.Navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  background-color: white;
}

.Navigation p {
  padding: 2rem;
  padding-top: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #64626A;
  line-height: 21px;
  border-bottom: 2px solid none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.Navigation p span {
  background-color: #1D5E6D;
  width: 2rem;
  height: 2px;
  margin-top: .5rem;
  opacity: 0;
}

.Navigation p:hover {
  font-weight: 600;
  border-bottom-color: #1D5E6D;
}

.Navigation p:hover span {
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.Navigation button {
  width: 92px;
  height: 38px;
  background-color: #348193;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 19px;
  margin-right: auto;
  cursor: pointer;
}

.Navigation button:hover {
  color: #348193;
  border: 1px solid #348193;
  background-color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.Navigation .Buy {
  margin-left: auto;
}

.Navigation .Advertise {
  margin-left: auto;
}

.Navigation .Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28.09px;
  color: #00D095;
  font-weight: 700;
  margin-left: 1rem;
}

@media (max-width: 1420px) {
  .Navigation {
    display: none;
  }
  p {
    color: red;
  }
}

.Navbar {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1420px) {
  .Navbar {
    opacity: 1;
  }
}

.search {
  background-color: #fff;
  width: 515px;
  height: 68px;
  margin-top: 4rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px 5px rgba(24, 94, 109, 0.09);
          box-shadow: 0 10px 20px 5px rgba(24, 94, 109, 0.09);
}

.search #searchbar {
  width: 355px;
  height: 68px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding-left: .8rem;
  margin-left: auto;
}

.search button {
  width: 130px;
  height: 48px;
  border: none;
  border-radius: 25px;
  background-color: #00D095;
  margin-right: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

@media (max-width: 1420px) {
  .search {
    margin: 4rem auto 0 auto;
  }
}

@media (max-width: 700px) {
  .search {
    width: 415px;
  }
  .search button {
    width: 90px;
    height: 38px;
  }
  .search #searchbar {
    width: 255px;
    height: 68px;
    font-size: 14px;
    padding-left: .8rem;
  }
}

.Services {
  padding-top: 10rem;
  width: 1200px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.Services .title {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #b3b1b7;
}

.Services h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  color: #3b3a40;
}

.Services h3 {
  font-weight: 600;
  font-size: 24px;
  color: #3b3a40;
  line-height: 36px;
  margin: 1rem 0 1rem 0;
}

.Services p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400px;
  color: #64626a;
}

.Services .services {
  width: 100%;
  overflow-y: auto;
}

.Services .services .slider {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem 0 2rem 0;
}

.Services .services .slider .card {
  width: 330px;
  height: 336px;
  border-radius: 10px;
  margin-left: 1rem;
  padding: 1rem 0 1rem 1rem;
}

.Services .services .slider .card .rectangle {
  width: 72px;
  height: 72px;
  border-radius: 20px;
  background-color: #ffdec7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Services .services .slider .card .two {
  background-color: #c1c1db;
}

.Services .services .slider .card .three {
  background-color: #f7c7f7;
}

.Services .services .slider .card:hover {
  -webkit-box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=App.css.map */